.container__menu-title {
  color: white;
}

.container__menu-title > h1 {
  text-shadow: 4px 4px 7px red;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'times new roman', serif;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid white;
}
